.file_page {
    background: #fff;
    padding: 50px;
    min-height: calc(100vh - 65px)
}

    .file_page .file_box {
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        margin-bottom: 50px;
        padding: 20px 30px;
        position:relative
    }
        .file_page .file_box .file_main_info .file_title_holder {
            display: flex;
        }
            .file_page .file_box .file_main_info .file_title_holder .file_title {
                margin-bottom: 15px;
                margin-right: 10px;
                max-width: 600px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

            }
        }
        .file_page .file_box .file_college_info {
            font-size: 14px;
            
        }
        .file_page .file_box .file_main_info .download_info {
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
        }
            .file_page .file_box .file_main_info .download_info .file_size {
                color: #838383;
                font-size: 14px;
                margin-right: 10px;
            }
            .file_page .file_box .file_main_info .download_info .type_img_holder {
                display: inline-block;
                border: 1px solid #acacac;
                border-radius: 50%;
                padding: 8px;
                background: #f4f4f4;
                margin-right: 20px
            }
                .file_page .file_box .file_main_info .download_info .type_img_holder img {
                    width: 32px
                }
        .file_page .file_box .file_main_info .download_info  a{
            border-radius: 30px;
            font-size: 18px;
            padding: 10px 30px;
        }
                .file_page .file_box .file_college_info > span {
                    margin-right: 25px;
                    color: var(--main-color);
                    font-weight: 450
                }
            .file_page .file_box .file_college_info .fa-wpexplorer {
                background: #dff5ff;
                padding: 5px 6px;
                border-radius: 10px;
                color: #005eff;
                margin-right: 8px
            }
            .file_page .file_box .file_college_info .fa-bank {
                background: #fff4c0;
                padding: 5px 6px;
                border-radius: 10px;
                color: #ffbb24;
                margin-right: 8px
            }
        .file_page .file_box .file_main_info .file_desc p {
            font-size: 14px;
            margin-top: 20px;
            line-height: 1.8;
            color: #767676;
            margin-bottom: 10px;
        }

.file_page .file_box .file_main_info .item_upload_date {
    font-size: 12px;
    color: #878787;
    margin-bottom: 30px
    
}

    .file_page .file_box .file_main_info .item_upload_date i.fa {
        background: #e1eaf9;
        padding: 3px 5px;
        font-size: 12px;
        border-radius: 8px;
        margin-right: 5px;
        color: var(--main-color);
    }


.file_page .file_box a.favorite {
    display: inline-block;
    text-align: center;
    background: #f8f8f8;
    border: 1px solid #cbcbcb;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-right: 10px;
    color: #cc4b4c;
}

.file_page .file_box .report_abuse {
    position: absolute;
    bottom: -40px;
    right: 10px;
}

.file_page .file_box .report_abuse_modal .modal-footer {
    justify-content: center
}
.file_page .file_box .report_abuse_modal .modal-title {
    color: #007bff;
}
    .file_page .file_box .report_abuse_modal .modal-footer .btn {
        border-radius: 30px;
        width: 130px;
    }
    .file_page .file_box .report_abuse_modal .modal-footer,
    .file_page .file_box .report_abuse_modal .modal-header {
        border: none
    }


    .file_statistics {
        margin-left: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }

    .file_statistics .statistic {
        color: #727272;
        transition: all 0.2s ease-in-out;
        margin-right: 25px
    }

.file_statistics .statistic i.fa {
    margin-right: 5px;
}

        .file_statistics .statistic:first-of-type {
            color: #e53939 !important
        }

        .file_statistics .statistic:nth-of-type(2) {
            color: #017ec0 !important
        }

        .file_statistics .statistic:nth-of-type(3) {
            color: #297f29 !important
        }