body {
}

.search_page {
    background: #fff;
    padding: 50px;
    min-height: calc(100vh - 65px)
}
    .search_page .search_page_title {
        margin-bottom: 0px
    }
    .search_page nav.pagination_nav {
        display: flex;
        justify-content: space-between;
    }
.bottom_nav_pagination .pagination {
    justify-content: flex-end
}