@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="nav navbar-nav navbar-right">

        <div class="dropdown">
            <div class="dropdown-toggle" id="dropdownUserMenu"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="navbar-user-img" src="~/Content/images/avatar.png" />
                <span>
                    <a href="~/Manage/Index" class="black_link bold_custom">@User.Identity.GetUserName()</a>
                </span>

            </div>

            <div class="dropdown-menu dropdownUserMenu animated fadeInDown faster" aria-labelledby="dropdownUserMenu">
                <a class="dropdown-item bold_custom dropdownUserMenu_item " href="~/Home/Profile"><i class="fa fa-user-circle-o"></i> My Profile</a>
                <a class="dropdown-item bold_custom dropdownUserMenu_item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Sign out</a>
            </div>
        </div>

        

    </div>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li  class="nav-item"><a class="nav-link" href="~/Account/Register" id="registerLink"><i class="fa fa-user-plus"></i> Sign up</a></li>
        <li  class="nav-item"><a class="nav-link" href="~/Account/Login" id="loginLink"><i class="fa fa-sign-in"></i> Log in</a></li>
    </ul>
}
@*<ul>
    <li><a class="" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>*@