
@{
    ViewBag.Title = "Search";
}
<link href="~/Content/search.css" rel="stylesheet" />
<div class="container">

    <div class="search_page">


        <nav class="pagination_nav">
            <h4 class="search_page_title">Search Results</h4>

            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

        <ul class="list-unstyled recommended_list">
            <!-- Start list item show (repeat it inside for loop)-->
            <li>
                <div class="item">
                    <div class="item_body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="item_img_and_info_holder">
                                    <div class="item_type_img_holder">
                                        <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                    </div>

                                    <div class="item_info">
                                        <a class="black_link no_decoration" href="#">
                                            <h6 class="item_title">database midterm exam</h6>
                                        </a>
                                        <a class="black_link no_decoration" href="#">
                                            <div class="item_owner">
                                                <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                <span class="item_owner_name">omar kishko</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item_statistics">
                                    <div class="statistic">
                                        <i class="fa fa-heart"></i> 184
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-eye"></i> 301
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-download"></i> 190
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- End list item show (repeat it inside for loop)-->

            <li>
                <div class="item">
                    <div class="item_body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="item_img_and_info_holder">
                                    <div class="item_type_img_holder">
                                        <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                    </div>

                                    <div class="item_info">
                                        <a class="black_link no_decoration" href="#">
                                            <h6 class="item_title">database midterm exam</h6>
                                        </a>
                                        <a class="black_link no_decoration" href="#">
                                            <div class="item_owner">
                                                <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                <span class="item_owner_name">omar kishko</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item_statistics">
                                    <div class="statistic">
                                        <i class="fa fa-heart"></i> 184
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-eye"></i> 301
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-download"></i> 190
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="item_body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="item_img_and_info_holder">
                                    <div class="item_type_img_holder">
                                        <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                    </div>

                                    <div class="item_info">
                                        <a class="black_link no_decoration" href="#">
                                            <h6 class="item_title">database midterm exam</h6>
                                        </a>
                                        <a class="black_link no_decoration" href="#">
                                            <div class="item_owner">
                                                <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                <span class="item_owner_name">omar kishko</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item_statistics">
                                    <div class="statistic">
                                        <i class="fa fa-heart"></i> 184
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-eye"></i> 301
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-download"></i> 190
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="item_body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="item_img_and_info_holder">
                                    <div class="item_type_img_holder">
                                        <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                    </div>

                                    <div class="item_info">
                                        <a class="black_link no_decoration" href="#">
                                            <h6 class="item_title">database midterm exam</h6>
                                        </a>
                                        <a class="black_link no_decoration" href="#">
                                            <div class="item_owner">
                                                <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                <span class="item_owner_name">omar kishko</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item_statistics">
                                    <div class="statistic">
                                        <i class="fa fa-heart"></i> 184
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-eye"></i> 301
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-download"></i> 190
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="item_body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="item_img_and_info_holder">
                                    <div class="item_type_img_holder">
                                        <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                    </div>

                                    <div class="item_info">
                                        <a class="black_link no_decoration" href="#">
                                            <h6 class="item_title">database midterm exam</h6>
                                        </a>
                                        <a class="black_link no_decoration" href="#">
                                            <div class="item_owner">
                                                <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                <span class="item_owner_name">omar kishko</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item_statistics">
                                    <div class="statistic">
                                        <i class="fa fa-heart"></i> 184
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-eye"></i> 301
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-download"></i> 190
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="item_body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="item_img_and_info_holder">
                                    <div class="item_type_img_holder">
                                        <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                    </div>

                                    <div class="item_info">
                                        <a class="black_link no_decoration" href="#">
                                            <h6 class="item_title">database midterm exam</h6>
                                        </a>
                                        <a class="black_link no_decoration" href="#">
                                            <div class="item_owner">
                                                <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                                <span class="item_owner_name">omar kishko</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item_statistics">
                                    <div class="statistic">
                                        <i class="fa fa-heart"></i> 184
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-eye"></i> 301
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-download"></i> 190
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="item">
                    <div class="item_body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="item_img_and_info_holder">
                                    <div class="item_type_img_holder">
                                        <img class="item_type_img" src="~/Content/images/files_types/pdf.png" />
                                    </div>

                                    <div class="item_info">
                                        <a class="black_link no_decoration" href="#">
                                            <h6 class="item_title">database midterm exam</h6>
                                        </a>
                                        <div class="item_owner">
                                            <img class="item_owner_img" src="~/Content/images/avatar.png" />
                                            <span class="item_owner_name">omar kishko</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item_statistics">
                                    <div class="statistic">
                                        <i class="fa fa-heart"></i> 184
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-eye"></i> 301
                                    </div>
                                    <div class="statistic">
                                        <i class="fa fa-download"></i> 190
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

  

        <nav class="bottom_nav_pagination">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>