@model IEnumerable<exam_db.Models.Course>
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

    <link href="~/Content/courses.css" rel="stylesheet" />

<div class="container">
    <div class="courses_page">
        <h4 class="courses_page_title">Courses</h4>

        @* Main Taps *@
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id=" -tab" data-toggle="tab" href="#university" role="tab" aria-controls="university" aria-selected="true">University requirement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id=" -tab" data-toggle="tab" href="#department" role="tab" aria-controls="department" aria-selected="false">Department requirement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id=" -tab" data-toggle="tab" href="#specialty" role="tab" aria-controls="specialty" aria-selected="false">Specialty requirement</a>
            </li>
        </ul>
        <!-- Taps Content -->
        <div class="tab-content" id="">
            <!-- University requirement content  -->
            <div class="tab-pane fade show active" id="university">
                <div class="row">
                    <div class="col-md-6">

                        <a class="black_link no_decoration" href="#">
                            <div class="course_card">
                                <div class="course_title">

                                    <h6 class="course_name">Advanced Software Engineering</h6>

                                    <span class="course_code">Code | SDEV 4304</span>
                                </div>

                                <span class="course_items_number"><i class="fa fa-file-o"></i> 28 items</span>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6">

                        <a class="black_link no_decoration" href="#">
                            <div class="course_card">
                                <div class="course_title">

                                    <h6 class="course_name">Advanced Software Engineering</h6>

                                    <span class="course_code">Code | SDEV 4304</span>
                                </div>

                                <span class="course_items_number"><i class="fa fa-file-o"></i> 28 items</span>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6">

                        <a class="black_link no_decoration" href="#">
                            <div class="course_card">
                                <div class="course_title">

                                    <h6 class="course_name">Advanced Software Engineering</h6>

                                    <span class="course_code">Code | SDEV 4304</span>
                                </div>

                                <span class="course_items_number"><i class="fa fa-file-o"></i> 28 items</span>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6">

                        <a class="black_link no_decoration" href="#">
                            <div class="course_card">
                                <div class="course_title">

                                    <h6 class="course_name">Advanced Software Engineering</h6>

                                    <span class="course_code">Code | SDEV 4304</span>
                                </div>

                                <span class="course_items_number"><i class="fa fa-file-o"></i> 28 items</span>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6">

                        <a class="black_link no_decoration" href="#">
                            <div class="course_card">
                                <div class="course_title">

                                    <h6 class="course_name">Advanced Software Engineering</h6>

                                    <span class="course_code">Code | SDEV 4304</span>
                                </div>

                                <span class="course_items_number"><i class="fa fa-file-o"></i> 28 items</span>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6">

                        <a class="black_link no_decoration" href="#">
                            <div class="course_card">
                                <div class="course_title">

                                    <h6 class="course_name">Advanced Software Engineering</h6>

                                    <span class="course_code">Code | SDEV 4304</span>
                                </div>

                                <span class="course_items_number"><i class="fa fa-file-o"></i> 28 items</span>
                            </div>
                        </a>

                    </div>

                </div>

                <nav class="pagination_nav">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>

            </div>

            <!-- Department requirement content -->
            <div class="tab-pane fade" id="department">
                <div class="row">
                    <div class="col-md-6">

                        <a class="black_link no_decoration" href="#">
                            <div class="course_card">
                                <div class="course_title">

                                    <h6 class="course_name">Advanced Software Engineering</h6>

                                    <span class="course_code">Code | SDEV 4304</span>
                                </div>

                                <span class="course_items_number"><i class="fa fa-file-o"></i> 28 items</span>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6">

                        <a class="black_link no_decoration" href="#">
                            <div class="course_card">
                                <div class="course_title">

                                    <h6 class="course_name">Advanced Software Engineering</h6>

                                    <span class="course_code">Code | SDEV 4304</span>
                                </div>

                                <span class="course_items_number"><i class="fa fa-file-o"></i> 28 items</span>
                            </div>
                        </a>

                    </div>
                </div>

                <nav class="pagination_nav">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>

            </div>

            <!-- Specialty requirement content  -->
            <div class="tab-pane fade" id="specialty">
                <div class="row">
                    <div class="col-md-6">

                        <a class="black_link no_decoration" href="#">
                            <div class="course_card">
                                <div class="course_title">

                                    <h6 class="course_name">Advanced Software Engineering</h6>

                                    <span class="course_code">Code | SDEV 4304</span>
                                </div>

                                <span class="course_items_number"><i class="fa fa-file-o"></i> 28 items</span>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6">

                        <a class="black_link no_decoration" href="#">
                            <div class="course_card">
                                <div class="course_title">

                                    <h6 class="course_name">Advanced Software Engineering</h6>

                                    <span class="course_code">Code | SDEV 4304</span>
                                </div>

                                <span class="course_items_number"><i class="fa fa-file-o"></i> 28 items</span>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6">

                        <a class="black_link no_decoration" href="#">
                            <div class="course_card">
                                <div class="course_title">

                                    <h6 class="course_name">Advanced Software Engineering</h6>

                                    <span class="course_code">Code | SDEV 4304</span>
                                </div>

                                <span class="course_items_number"><i class="fa fa-file-o"></i> 28 items</span>
                            </div>
                        </a>

                    </div>
                </div>

                <nav class="pagination_nav">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>



        @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.department.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.department.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>

                </tr>
            }

        </table>*@
